<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs', {title:'Home'})%>
<body>
    <%- include('includes/header.ejs', {user}) %> 
    <div class="container text-center mt-5">
        <h5 id="title-cadastro" class="banner-title text-center">VOCÊ ESTÁ LOGADO!</h5>
        <img src="/img/figure.png" class="img-fluid figure-home" alt="">
    </div>
        
      
  </body>
<%-include('includes/scripts.ejs')%>
  
</html>