<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="align-form">
        <main class="container-form-forgout">
            <div class="top-form-forgout">
                <div class="title-left-forgout">
                    <span>Recuperação <br>de senha</span>
                </div>
                <form method="POST">
                    <div class="form-input-container">
                        <div class="container-input">
                            <label for="">Nova senha</label>
                            <input type="text" name="name" class="input-default" placeholder="Digite uma nova senha">
                        </div>
                        <div class="container-input">
                            <label for="">Confirme a nova senha</label>
                            <input type="password" name="pass" class="input-default" placeholder="Confirme sua senha">
                        </div>
                        <div class="container-input-check">
                            <button class="btn-entrar" >Confirmar</button>
                            <small><a href="/login" data-toggle="modal" data-target="#modal-esqueci-senha">Fazer login</a></small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bottom-form-forgout">
                <p>ESTAMOS QUASE LÁ...</p>
                <img src="/img/figure-forgout.png" alt="" srcset="">
            </div>
        </main>
    </div>

    <div class="alert" id="alert">
    </div>
</body>


<script src="/js/loginScript.js"></script>
</html>