<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs', {title:'Home'})%>
<body>
    <%- include('includes/header.ejs') %> 
    <div class="container text-center mt-5">
        <img src="/img/figure.png" class="img-fluid figure-home" alt="">
    </div>
        
      
  </body>
<%-include('includes/scripts.ejs')%>
  
</html>