<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="container-form">
            <div class="left-form">

            </div>
            <div class="rigth-form">
                <div class="header-form">
                    <p><a href="">Login</a> ou <a href="" class="active">Cadastro</a></p>
                </div>
                <form method="POST">
                    <div class="form-input-container">
                        <div class="container-input">
                            <label for="">Nome</label>
                            <input type="text" name="name" class="input-default" placeholder="Digite Seu nome completo">
                        </div>
                        <div class="container-input">
                            <label for="">Email</label>
                            <input type="email" name="email" class="input-default" placeholder="pixit@email.com">
                        </div>
                        <div class="container-input">
                            <label for="">Senha</label>
                            <input type="password" name="pass" class="input-default" placeholder="Digite sua senha">
                        </div>
                        <div class="container-input-check">
                            <button class="btn-entrar">Cadastrar</button>
                            <small><a href="">Esqueci minha senha</a></small>
                        </div>
                    </div>
                </form>
            </div>

    </main>
</body>
</html>