@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

button:focus {
  outline: none
}

body {
  background: linear-gradient(111.27deg, #DBDBDB 48.32%, #EFFAFF 93.97%);
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.align-form {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form {
  display: flex;
  max-width: 700px;
  border-radius: 10px;
  height: 500px;
  width: 100%;
}

.left-form,
.rigth-form {
  flex: 1;
}

.left-form {
  background-color: #52C5B8;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frase-left {
  color: #209386;
  align-self: flex-end;
  padding-right: 70px;
  margin-bottom: 5px;
}

.left-form img {
  width: 220px;
}

.rigth-form {
  background: linear-gradient(180deg, #53657C 0.52%, #394B62 42.49%, #233041 100%);
  border-radius: 0px 10px 10px 0px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.logo-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-form {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.header-form .left {
  text-decoration: none;
  padding-left: 45px;
  color: #6E7887;
  display: flex;
  align-items: center;
}

.header-form .left.active {
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 0px 25px 25px 0px;
  background-color: #52C5B8;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.header-form .right {
  text-decoration: none;
  padding-right: 45px;
  color: #6E7887;
  display: flex;
  align-items: center;
}

.header-form .right.active {
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 25px 0px 0px 25px;
  background-color: #52C5B8;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  padding-right: 45px;
  padding-left: 45px;
  justify-content: center;
}

.container-input-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-input {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #cccccc;
  margin-bottom: 20px;
}

.container-input label {
  color: #ffffff;
  font-weight: 700;
}

.input-default {
  border: none;
  background-color: transparent;
  height: 25px;
  color: #6E7887;
}

.input-default:focus {
  outline: none;
}

.input-default::placeholder {
  color: #6E7887;
}

.btn-entrar,
.btn-cadastrase {
  background-color: #52C5B8;
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 4px 4px 12px #2B2B2B;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-cadastrase {
  width: 120px;
}

.btn-entrar:hover {
  color: #52C5B8;
  background-color: #ffffff;
}

.container-input-check small a {
  color: #6E7887;
  text-decoration: none;
  transition: 0.3s;
}

.container-input-check small a:hover {
  color: #eeeeee;
}

.alert {
  position: fixed;
  background: #51637A;
  color: #ffffff;
  width: 300px;
  height: 200px;
  bottom: 16px;
  right: 16px;
  box-shadow: 5px 5px 16px #222222;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  opacity: 0;
  transition: 0.6s;
  display: none;
}

.alert.active {
  display: flex;

}

.alert .icon img {
  width: 50px;
}

.alert .close-icon {
  width: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.modal-content-style {
  background-color: #263446 !important;
}

.modal-body-style {
  background-color: #263446;
  border-radius: 2px;
}

.modal-body-style small {
  color: #6E7887;
}

.modal-body-style h3 {
  color: #ffffff;
  margin-bottom: 0px;
}

.container-input-modal {
  margin-top: 20px;

}

.alert-modal {
  position: absolute;
  top: 20px;
  left: 20%;
  width: 60%;
  height: 70%;
  border-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #52C5B8;
  box-shadow: 5px 5px 12px #263446;
}

.alert-modal p {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}

.alert-modal.active {
  display: flex;
}

.alert-modal .close-modal {
  position: absolute;
  top: 6px;
  right: 15px;
}

.input-modal {
  border: none;
  background: transparent;
  border-bottom: 1px solid #52C5B8;
  margin-bottom: 15px;
  color: #ffffff;
  width: 100%;
}

.input-modal:focus {
  outline: none;
}

.input-modal::placeholder {
  color: #6E7887
}

.close-modal {
  float: right;
  border: none;
  background: transparent;
}

.close-modal span {
  font-size: 18px;
}

.btn-recuperar-senha {
  background-color: #52C5B8;
  border: none;
  border-radius: 25px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 4px 4px 12px #2B2B2B;
  cursor: pointer;
  transition: 0.3s;
}

.btn-recuperar-senha:hover {
  color: #52C5B8;
  background-color: #ffffff;
}

.container-form-forgout {
  flex-direction: column;
  height: 100%;
  max-height: 500px;
  min-height: 500px;
  max-width: 420px;
  border-radius: 5px;
  width: 100%;
}

.bottom-form-forgout {
  flex: none;
  height: 35%;
  width: 100%;
  background-color: #59D9CA;
  border-radius: 0px 0px 5px 5px;

}

.top-form-forgout {
  flex: none;
  height: 65%;
  min-height: 380px;
  width: 100%;
  background: linear-gradient(180deg, #53657C 0.52%, #394B62 42.49%, #233041 100%);
  padding-top: 40px;
  border-radius: 5px 5px 0px 0px;

}

.form-input-container .alert-forgout {
  color: #fff;
  text-align: center;
}

.title-left-forgout {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.title-left-forgout span {
  text-decoration: none;
  padding-left: 45px;
  color: #6E7887;
  display: flex;
  align-items: center;
}

.title-left-forgout span {
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 0px 25px 25px 0px;
  background-color: #52C5B8;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.bottom-form-forgout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-form-forgout img {
  width: 140px;
  border-radius: 10px;
}

.bottom-form-forgout p {
  color: #209386;
}



header {
  background-color: #52C5B8;
  font-family: 'Roboto', sans-serif;

}

nav {
  background-color: #52C5B8;
  max-width: 1200px;
  margin: auto;
}

.nav-style {
  padding-top: 0;
  padding-bottom: 0;
}

@media(max-width:992px) {
  .nav-style {
    padding: 10px
  }
}

.title-header {
  align-self: center;
  flex: 1;
  font-style: italic;
  font-size: 20px;
  padding-left: 20px;
  margin: 0;
  font-weight: bolder;
  color: #ffffff;
}

.title-header span {
  font-weight: 400;
}

.nav-body {
  flex: 1;
  padding: 10px;
  align-self: center;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  list-style-type: none;
  margin: 0;
}

.nav-header li {
  min-height: 55px;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0;
  display: flex;
  align-items: center;
  transition: 0.2s;
  padding-right: 20px !important;
}

.nav-header a {
  color: #ffffff;
  outline: none;
  text-decoration: none;
  transition: 0.2s;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

}

.nav-header li:hover {
  color: #ffffff;
  border-top: solid 2px #ffffff;
}

.nav-header li.ativo {
  color: #ffffff;
  border-top: solid 2px #ffffff;
}

.banner-title {
  color: #209386;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.25em;
}

.figure-home {
  max-width: 700px;
  width: 100%;
}

@media (max-width:724px) {
  .left-form {
    flex: none;
    width: 120px;
  }

  .container-form {
    max-width: 500px;
  }

  .left-form .frase-left {
    display: none;
  }

  .left-form img {
    transform: rotate(-90deg);
  }

  .right-form {
    flex: none;
    width: 300px;
  }

  .form-input-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}