@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

button:focus{
  outline:none
}
body{
  background:  linear-gradient(111.27deg, #DBDBDB 48.32%, #EFFAFF 93.97%);
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  margin: 0;
}
.align-form{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-form{
  display: flex;
  background-color: aqua;
  max-width: 700px;
  border-radius: 10px;
  height: 500px;
  width: 100%;
}
.left-form, .rigth-form{
  flex: 1;
}
.left-form{
  background-color: #52C5B8;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frase-left{
  color: #209386;
  align-self: flex-end;
  padding-right: 70px;
  margin-bottom: 5px;
}
.left-form img{
  width: 220px;
}
.rigth-form{
  background: linear-gradient(180deg, #53657C 0.52%, #394B62 42.49%, #233041 100%);
  border-radius: 0px 10px 10px 0px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.logo-header{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.header-form{
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.header-form .left{
  text-decoration: none;
  padding-left: 45px;
  color: #6E7887;
  display: flex;
  align-items: center;
}
.header-form .left.active{
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 0px 25px 25px 0px;
  background-color: #52C5B8;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
.header-form .right{
  text-decoration: none;
  padding-right: 45px;
  color: #6E7887;
  display: flex;
  align-items: center;
}
.header-form .right.active{
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 25px 0px 0px 25px;
  background-color: #52C5B8;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
.form-input-container{
  display: flex;
  flex-direction: column;
  padding-right: 45px;
  padding-left: 45px;
  justify-content: center;
}
.container-input-check{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-input{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #cccccc;
  margin-bottom: 20px;
}
.container-input label{
  color: #ffffff;
  font-weight: 700;
}
.input-default{
  border: none;
  background-color: transparent;
  height: 25px;
  color: #6E7887;
}
.input-default:focus{
  outline: none;
}
.input-default::placeholder{
  color: #6E7887;
}
.btn-entrar{
  background-color: #52C5B8;
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 4px 4px 12px #2B2B2B;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-entrar:hover{
  color: #52C5B8;
  background-color: #ffffff;
}
.container-input-check small a{
  color: #6E7887;
  text-decoration: none;
  transition: 0.3s;
}
.container-input-check small a:hover{
  color: #eeeeee;
}
.alert{
  position: fixed;
  background: #51637A;
  color: #ffffff;
  width: 300px;
  height: 200px;
  bottom: 16px;
  right: 16px;
  box-shadow: 5px 5px 16px #222222;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  opacity: 0;
  transition: 0.6s;
  display: none;
}
.alert.active{
  display: flex;

}
.alert .icon img{
  width: 50px;
}
.alert .close-icon{
  width: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.modal-content-style{
  background-color: #263446!important;
}
.modal-body-style{
  background-color: #263446;
  border-radius: 2px;
}
.modal-body-style small{
  color:#6E7887;
}
.modal-body-style h3{
  color: #ffffff;
  margin-bottom: 0px;
}
.container-input-modal{
  margin-top: 20px;

}
.alert-modal{
  position: absolute;
  top: 20px;
  left: 20%;
  width: 60%;
  height: 70%;
  border-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color:  #52C5B8;
  box-shadow: 5px 5px 12px #263446;
}
.alert-modal p{
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.alert-modal.active{
  display: flex;
}
.alert-modal .close-modal{
  position: absolute;
  top: 6px;
  right: 15px;
}
.input-modal{
  border: none;
  background: transparent;
  border-bottom: 1px solid #52C5B8;
  margin-bottom: 15px;
  color: #ffffff;
  width: 100%;
}
.input-modal:focus{
  outline: none;
}
.input-modal::placeholder{
  color:#6E7887
}
.close-modal{
  float: right;
  border: none;
  background: transparent;
}
.close-modal span{
  font-size: 18px;
}
.btn-recuperar-senha{
  background-color: #52C5B8;
  border: none;
  border-radius: 25px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 4px 4px 12px #2B2B2B;
  cursor: pointer;
  transition: 0.3s;
}
.btn-recuperar-senha:hover{
  color: #52C5B8;
  background-color: #ffffff;
}