@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Roboto', sans-serif;

}

.container-form{
  display: flex;
  background-color: aqua;
  max-width: 700px;
  border-radius: 10px;
  height: 500px;
}
.left-form, .rigth-form{
  flex: 1;
}
.left-form{
  background-color: #52C5B8;
  border-radius: 10px 0px 0px 10px;
}
.rigth-form{
  background: linear-gradient(180deg, #394B63 0%, #233041 72.92%);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-form{
  padding-right: 45px;
  padding-left: 45px;
}
.header-form p{
  color: #54647B;
}
.header-form p a{
  text-decoration: none;
  font-size: 20px;
  color: #54647B;
  transition: 0.3s;
}
.header-form p a:hover{
  color: #ffffff;
  border-bottom: #52C5B8 1.5px solid;
}
.header-form p a.active{
  color: #ffffff;
  border-bottom: #52C5B8 1px solid;
}
.form-input-container{
  display: flex;
  flex-direction: column;
  padding-right: 45px;
  padding-left: 45px;
  justify-content: center;
}
.container-input-check{
  display: flex;
  align-items: center;
}
.container-input{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #cccccc;
  margin-bottom: 20px;
}
.container-input label{
  color: #ffffff;
  font-weight: 700;
}
.input-default{
  border: none;
  background-color: transparent;
  height: 25px;
  color: #54647B;
}
.input-default:focus{
  outline: none;
}
.input-default::placeholder{
  color: #54647B;
}
.btn-entrar{
  background-color: #52C5B8;
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 4px 4px 12px #2B2B2B;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-entrar:hover{
  color: #52C5B8;
  background-color: #ffffff;
}
.container-input-check small a{
  color: #54647B;
  text-decoration: none;
  transition: 0.3s;
}
.container-input-check small a:hover{
  color: #eeeeee;

}